body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: #24292e;
  margin: 0;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-weight: normal;
}

span {
  font-size: 30px;
  padding-left: 8px;
}

.drag {
  color: #ffffff;
  background: rgb(20, 20, 20);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  outline: 1px dashed #fff;
  outline-offset: -130px;
  transition: all 250ms ease-in-out;
}

.drag-hover {
  visibility: visible;
  opacity: 1;
}

.cloudinary-setup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 20%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.9);
}

label {
  margin-bottom: 5px;
  font-size: 12px;
}

input[type="text"] {
  margin-bottom: 8px;
  border: none;
  border-radius: 2px;
  padding: 5px;
  width: 70%;
}

input[type="submit"] {
  padding: 6px 15px;
  border: none;
  border-radius: 3px;
  margin: 10px 0 8px 0;
}

input:focus {
  outline: none;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 4;
  background: rgb(207, 71, 71);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 4;
  background: rgb(71, 207, 116);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
